{% extends 'eticket/base.html' %}
{% load static %}

{% block title %}ETicket{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/venue.css' %}">
{% endblock %}

{% block content %}
<div id="addbtn"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="white" d="M6.5 1.75a.75.75 0 0 0-1.5 0V5H1.75a.75.75 0 0 0 0 1.5H5v3.25a.75.75 0 0 0 1.5 0V6.5h3.25a.75.75 0 0 0 0-1.5H6.5V1.75Z"/></svg></div>
<div id="hidden-wrapper">
    <div class="form-wrapper">
        <form action="" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <label for="eventName" class="textarea-label">Host an Event</label>
            <select name="venue" id="venue">
                {% for venue in venues %}
                    <option value="{{ venue.id }}">{{ venue.name }}</option>
                {% endfor %}
            </select>
            <input
                type="text"
                name="eventName"
                id="eventName"
                placeholder="Name of Event"
                class="textarea-input"
            />
            <input
                type="text"
                name="ticketPrice"
                id="ticketPrice"
                placeholder="Price of Ticket"
                class="textarea-input"
            />
            <button class="btn">
                Add Event
            </button>
        </form>
    </div>
</div>
<div class="venue-wrapper" id="venue-wrapper">
    {% for event in events %}
        <div class="venue">
            <span>Event name: {{event.eventName}}</span>
            <span>Venue: {{event.venue.name}}, &nbsp;{{event.venue.location}}</span>
            <span>Host: {{event.host}}</span>
            <span>Ticket Price: ${{event.ticketPrice}}</span>
            <span>Tickets Available: {{event.ticketQuantity}}</span>
        </div>
    {% endfor %}
</div>
<script src="{% static 'js/hostEvent.js' %}"></script>
{% endblock %}