<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration </title> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
   </head>
<body>
  <div class="login">
    <h1>Registration</h1>
    <form method="POST" action="">
        {% csrf_token %}
      <div>
        <input class="input-box" type="username" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="username" >
      </div>
      <div>
        <input class="input-box" type="password" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" placeholder="Password" >
      </div>
      <div >
        <input class="input-box" type="password" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" placeholder="Confirm Your Password" >
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
      <div class="text">
        <h3>Already have an account? <a href="{% url 'users:loginPage' %}">Login now</a></h3>
      </div>
    </form>
  </div>
  <div id="error-message">
    {% if messages %}

            {% for message in messages %}
                {{message}}
            {% endfor %}
    {% endif %}
  </div>
</body>
</html>